

/c/ArrayList/deploy/
/c/PointList/deploy/


/python/ArrayList/poetry.lock
/python/ArrayList/app/ArrayList/__pycache__/
/python/PointList/poetry.lock
/python/PointList/app/pointlist/__pycache__/


/go/ArrayList/deploy/
/go/PointList/deploy/